* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #000000;
    color: #ffffff;
    font-size: 16px;
    font-family: 'Oswald', sans-serif;
    width: 100%;
    height: 100px;
    }
   
a {
    color: #ffffff;
    text-decoration: none;
}

ul {
    list-style: none;
}

.container {
    width: 90%;
    margin: auto;
}

/* Navegacion */
.nav-main {
    margin-right: 20px;
    font-size: 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 20px 0;
}

.nav-brand {
    width: 50px;
}

/*Nav LEFT navegacion izquierda*/
.nav-main ul {
    display: flex;
}

/*tamano del texto de los titulos*/
.nav-main ul li {
    padding: 10px;
}

/*lineas bajo de los titulos*/
.nav-main ul li a:hover {
    border-bottom: 2px solid #ffffff;
}

nav.main ul.nav-menu {
    flex: 1;
    margin-left: 20px;
}

/*SHOWCASE*/
hr {
    margin: 10px 0;
}
.showcase {
    width: 100px;
    background: red;
    height: 0px;
    background: url(img/news.jpg) no-repeat center center/cover;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.btn {
    cursor: pointer;
    display: inline-block;
    border: 0;
    font-weight: bold;
    padding: 10px 20px;
    background: #262626;
    color: #ffffff;
    font-size: 15px;
    border: 1px solid #ffffff;
    margin: 10px 0;
}

.btn:hover {
    opacity: .7;
}

.showcase h2,
.showcase p {
    margin-bottom: 10px;
}
/*imagenes del fondo */
.img1{
    opacity: 50%;
    width: 100%;
    z-index: 1;
}
.img2{
    opacity: 50%;
    width: 100%;
    z-index: 1;
}
.img3{
    opacity: 30%;
    width: 100%;
    z-index: 1;
}
.notis{
    justify-content: center;
    margin-left: 14vw;
    width: 70vw;
    height: 152vw;
    color: #000000;
    border: #d8d6d6;
    background-color: #ffffff;
    position: absolute;
    z-index: 2;
    
}
.contenedor{
    display: flex;
}
.return{
    margin-top: 160vw;
    position: absolute;
    width: 400px;
}
.boton{
margin-top: 157vw;
margin-left: 10vw;
position: absolute;
width: 300px;
height: 200px;
z-index: 50 ;
font-size: 4vw;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
border-radius: 20px;
background-color: rgb(rgb(255, 230, 0), green, blue);
}
.boton:hover{
    background-color: rgb(255, 217, 0);
    transition: .7s;
}
.boton2{
    margin-top: 160vw;
    margin-left: 20vw;
    position: absolute;
    width: 300px;
    height: 200px;
    z-index: 50 ;
    font-size: 4vw;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border-radius: 20px;
    background-color: rgb(rgb(255, 230, 0), green, blue);
    }
    .boton2:hover{
        background-color: rgb(255, 217, 0);
        transition: .7s;
    }
    .botl{
        color: #000000;
    }
    /* gotop*/
    .go-top-container{
        position: fixed;
        bottom: 4rem;
        right: 4rem;
        width: 6.6rem;
        height: 6.6;
        z-index: -1;
    }
    .go-top-button{
        width: 0rem;
        height: 0rem;   
        background-color: rgb(107, 73, 199);
        border-radius: 50%;
        cursor: pointer;
        transition: .2s;
        top:50%;
        left:50%;
        transform: translate(-50%,-50%);
        z-index: -1;

    }
    .go-top-button i{
        position: absolute;
        font-size: 1.7rem;
        top: 48%;
        left: 50%;
        transform: translate(-50%,-50%) scale(0);
        color: #ffffff;
        transition: .5s;
    }
    .show{
        z-index: 10;
    }
    .show .go-top-button{
        animation: popup .3s ease-in-out;
        width: 6.6rem;
        height: 6.6rem; 
        z-index: 11;
    }
    .show i{
        transform: translate(-50%,-50%)scale(1);
    }
    @keyframes popup{
        0%{
            width: 0rem;
            height: 0rem;   
        }
        50%{
            width: 8rem;
            height: 8rem;
        }
        100%{
            width: 6.6rem;
            height: 6.6rem;
        }
    }

